<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="../static/css/homepage.css">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
    </style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>    
    <meta charset="UTF-8"/>
    <title> WalletView </title>
  <!-- https://www.youtube.com/watch?v=n3lcjY4Mm00 
  incorporate light dark toggle    -->
    
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="#home" id="navbar-logo"> WalletView </a>
        <div class="navbar-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navbar-menu">
          <li class="navbar-item">
            <a href="#home" class="navbar-links" id="homePage">Home</a>
          </li>


          <li class="navbar-item">
            <a href="#features" class="navbar-links"  id="featurePage">Features</a>          
          </li>
          <li class="navbar-item">
            <a href="#about" class="navbar-links"  id="aboutPage">About</a>
          </li>
          <!-- <li class="navbar-btn">
            <a href="#signup" class="button" id="signupPage">Start me up!</a>
          </li> -->
        </ul>
      </div>
    </nav>

    <div class="hero" id="home">
      <div class="hero-container">
        <h1 class="hero-heading">Track Your <span>Trades</span></h1>
        <p class="hero-description">With WalletView Dashboard</p>

        <form class="main-form" action="#" method="post">
          <div class="form-bar input-effect">
            <input class="searchbar" type="text" name="address" autocomplete="off">
            <label> Enter Wallet Address</label>
            <span class="focus-border"><i> </i></span>
          </div>
        </form>
        <div class="examples-button">
          <button class="try-button"> <a href="http://walletview.us-east-1.elasticbeanstalk.com/dashboard/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"> View Sample Wallet </a></button>
        </div>
      </div>
    </div>

    <!-- Features -->
    <div class="features" id="features">
      <h1>Project Features</h1>
      <div class="features-wrapper">
        <div class="features-card">
          <h2>Balance View</h2>
          <p>Intuitive design makes viewing your balance an easy task</p>
        </div>
        <div class="features-card">
          <h2>Wallet Tracker</h2>
          <p>Etherscan API is used to collect data and relay findings in a user friendly manner</p>
        </div>
        <div class="features-card">
          <h2>Frequency Counter</h2>
          <p>Pandas Plot is used to determine number of transactions between a given party</p>
        </div>
        <div class="features-card">
          <h2>Sample View</h2>
          <p>Users without wallets and beginners can test the program by viewing a sample wallet to see dashboard</p>
        </div>
        <div class="features-card">
          <h2>Still Building</h2>
          <p>Endless crypto technologies are coming out and allowing this to be built</p>
        </div>

      </div>
    </div>

    
    <!-- About Section -->
    <div class="about" id="about">
      <div class="about-container">
        <h1 class="about-heading">
          About this Project
        </h1>
        <p class="about-p"> 
          As someone who uses ethereum on a weekly basis and a long time hodler, I wanted to be able to view the ethereum in my wallet and see how my balance changed over time,  as sort of a progress tracker. I found that ethereum data is plentiful and easily accessible, so I wanted to create a one stop destination where anybody can view the data of any wallet, without needing to  connect via web3. Besides just viewing my balance,  I thought that there should be better ways to visualize the data for my own personal trades and have always wondered which wallets I have sent ethereum to and how frequently.
        </p>
      </div>
    </div>
    
 

    <!-- Footer Section -->
    <div class="footer-container">
      <div class="footer-links">
        <div class="footer-link--wrapper">
          <div class="footer-link--items">
            <h2>About Us</h2>
            <a href="/sign-up">How it works</a>
            <a href="/">Terms of Service</a>
          </div>
        </div>
        <div class="footer-link--wrapper">
          <div class="footer-link--items">
            <h2>Social Media</h2>
            <a href="/">Instagram</a> 
            <a href="/" class="github"></a>
          </div>
        </div>
      </div>
      <section class="social-media">
        <div class="social-media--wrap">
          <div class="footer-logo">
            <a href="/" id="footer-logo">WalletView</a>
          </div>
          <p class="website-rights">©WalletView 2022. All rights reserved</p>
          <div class="social-icons">

            <a href="/" class="social-icon--link">
              <img class="fa-instagram"></img>
            </a>
            <a href="/" class="social-icon--link">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </section>
    </div>

    <script type="text/javascript" src="../static/js/homepage.js" charset="utf-8"></script>

  </body>
</html>